.second-page {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 8px 200px;
    justify-content: flex-start;
}

.category-section {
    flex: 0 1 auto;
    min-width: 250px;
    max-width: 400px;
    border: 2px solid #ddd;
    padding: 12px;
}
