
.footer-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5a1e84;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.options-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 0 15px;
    margin-top: 5px;
}

.toppings-section {
    min-width: 200px;
    background-color: #5a1e84;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    border-color: yellow;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toppings-section h2 {
    text-align: center;
    margin-bottom: 1px;
    margin: 0; 
    color: white;
}

.toppings-list {
    list-style: none;
    padding-left: 0; 
    column-count: 4; 
    font-size: 20px;
}

.toppings-list li {
    margin-bottom: 2px;
    border-radius: 4px;
    background-color: #ffe4ec;
}

.sugar-section {
    min-width: 200px;
    background-color: #5a1e84;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sugar-section h2 {
    text-align: center;
    margin: 0; 
    color: white;
}

.sugar-list {
    list-style: none;
    padding-left: 0; 
    column-count: 4; 
    font-size: 20px;
    padding-top: 30px;
}

.sugar-list li {
    text-align: center;
    border-radius: 50%;
    background-color: #ffe4ec;
    height: 70px;
    width: 70px;
    font-size: x-large;
    line-height: 70px;
    color: #e4205a;
    border-color: #e4205a;
    animation: pinkGlow 2s ease-in-out infinite;
}

@keyframes  pinkGlow {
    0% {
        filter: drop-shadow(0 0 0px #e4205a);
    }
    50%{
        filter: drop-shadow(0 0 8px #e4205a);
    }
    100%{
        filter: drop-shadow(0 0 0px #e4205a);
    }
}

.legend-section {
    min-width: 300px;
    background-color: #5a1e84;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    padding-left: 40px; 
    margin-bottom: 0;
    color: white;
}

.legend-section h3 {
    text-align: center;
    margin-bottom: 1px;
    margin: 0; 
}

.legend-list {
    list-style: none;
    padding-top: 25px;
    padding-left: 40px; 
    font-size: 25px;
    margin-top: 7px;
    margin-bottom: 0;
    padding-right: 30px; 
}

.legend-list li {
    margin-bottom: 1px; /* Space between items */
    display: block; /* Ensure each item takes full width and height */
}

.legend-list li:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last item if needed */
}

.legend-list li {
    margin-bottom: 1px; /* Space between items */
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Center vertically */
    gap: 10px; /* Space between icon container and text */
}

.disclaimer-section {
    background-color: #5a1e84;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 0;
}

.disclaimer-list {
    list-style: none;
    padding-top: 60px;
    padding-left: 50px; 
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 0;
    padding-right: 30px; 
    margin-left: 30px;
    color: white;
}

.disclaimer-list li {
    margin-bottom: 1px; /* Space between items */
    display: block; /* Ensure each item takes full width and height */
}

.disclaimer-list li:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last item if needed */
}

.disclaimer-list li {
    margin-bottom: 1px; /* Space between items */
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Center vertically */
    gap: 10px; /* Space between icon container and text */
}


.snowflake-blue {
    padding-top: 6px;
    padding-left: 6px;
    color: lightblue;
    display: block;
    animation: snowflakeGlow 2s ease-in-out infinite;
}

@keyframes snowflakeGlow {
    0% {
        filter: drop-shadow(0 0 0px #38bdf8);
    }
    50%{
        filter: drop-shadow(0 0 8px #38bdf8);
    }
    100%{
        filter: drop-shadow(0 0 0px #38bdf8);
    }
}

.fire-red {
    padding-top: 6px;
    padding-left: 6px;
    color: lightsalmon;
    display: block;
    animation: fireGlow 2s ease-in-out infinite;
}

@keyframes fireGlow {
    0% {
        filter: drop-shadow(0 0 0px lightsalmon);
    }
    50%{
        filter: drop-shadow(0 0 8px lightsalmon);
    }
    100%{
        filter: drop-shadow(0 0 0px lightsalmon);
    }
}

.nonDairy {
    color: rgb(66, 248, 187);
    padding-top: 6px;
    padding-left: 6px;
    display: block;
    animation: greenGlow 2s ease-in-out infinite;
}

@keyframes greenGlow {
    0% {
        filter: drop-shadow(0 0 0px #38bdf8);
    }
    50%{
        filter: drop-shadow(0 0 8px #38bdf8);
    }
    100%{
        filter: drop-shadow(0 0 0px #38bdf8);
    }
}

.lemon-yellow {
    padding-top: 6px;
    padding-left: 6px;
    color: yellow;
    display: block;
    animation: yellowGlow 2s ease-in-out infinite;
}

@keyframes yellowGlow {
    0% {
        filter: drop-shadow(0 0 0px orange);
    }
    50%{
        filter: drop-shadow(0 0 8px orange);
    }
    100%{
        filter: drop-shadow(0 0 0px orange);
    }
}