.title-container {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding: 20px;
    width: 15%;
    padding-left:100px;
    padding-right: 100px;
}

.title-frame {
    background-color: #f0f0f0;
    border-radius: 8px;
    z-index: 1001;
    width: 800px;
    height: 200px;
}

.title-frame h2 {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    color: blue;
}

@media (max-width: 768px) {
    .title-container {
        justify-content: center; /* Re-center on mobile */
        gap: 1rem;              /* Reduce spacing for smaller screens */
    }
}
