.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
    width: 7%;
    background-color: black;
}

.title-frame {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    z-index: 1001;
    border-color: black;
    max-width: 300px; /* Adjust based on your design */
}

