    @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

.ads-container {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding: 20px;
    width: 40%;
    padding-left:150px;
    padding-right: 100px;
    font-family: 'Baloo 2';
    border-color: #5a1e84;
    overflow-x: auto;
    top: 100px;
    height: 300px;
}

/* .card-frame {
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin: 10px;
background-color: #f0f0f0;
max-width: 300px;     
height: auto;
}              
  
  .card-frame h2 {
    color: #333;
    margin-bottom: 8px;
  }
  
  .card-frame p {
    color: #666;
  } */

.ad-image {
    width: 150%;
    height: 100%;  
    object-fit: contain;  
    border-radius: 8px 8px 0 0; 
}