.border-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    top: 0;
    left: 0;
    background-color: #5a1e84;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}